<!DOCTYPE html>
<title>Contact</title>
{% extends 'base.html' %}
{% block content %}
<div class="container-fluid background-container">
   <!--CONTACT FORM-->
   <section class="contact">
      <div class="container-fluid">
      <h2>Get in touch</h2>
         <div class="row">
         <div class="col-12">
            <p>Send us a message</p>
            <div>
                <form id="myform" role="form" action="" method="post">
                  {% csrf_token %}
                    <input class="form-control" type="text" name="name" required="" id="id_name" placeholder="Your Name:">
                   <input class="form-control" type="email" name="email" required="" id="id_email" placeholder="Your Email:">
                    <textarea class="form-control" name="query" cols="40" rows="10" required="" id="id_query" placeholder="How can we help?"></textarea>
                  <div class="form-row text-center"><div class="col-12">
                     <button class="btn btn-success center-block" type="submit">Submit</button></div>
                  </div>
               </form>
               </div>
                 </div>
         </div>
      </div>
   </section>
</div>
{% endblock %}