<!DOCTYPE html>

{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container-fluid background-container">
   <!--SECTION ONE-->
   <section id="about-me">
      <div class="jumbotron parallaxone">
          <div class="jumbotron jumbotron-fluid bg-dark">
  
<h1 style="color:white">Welcome to Alio Prints! Lets create something beautiful!</h1>

      </div>
   </section>
   <!--SECTION TWO-->
 <section class="parallaxtwo">
 <div class="portfolio-images">
         <h3>Our bestsellers...</h3>
         <div class="photo-gallery">
            <div class="container">
               <div class="row photos">
                  
                  <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="media/images/classic-girl.png" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="media/images/classic-girl.png" alt="bedroom1"></a>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="media/images/classic-boy.png" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="media/images/classic-boy.png" alt="bedroom1"></a>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="media/images/wedding-fingerprint.png" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="media/images/wedding-fingerprint.png" alt="bedroom1"></a>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="media/images/owl-girl.png" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="media/images/owl-girl.png" alt="bedroom1"></a>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="media/images/owl-boy.png" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="media/images/owl-boy.png" alt="bedroom1"></a>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="media/images/family-tree.png" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="media/images/family-tree.png" alt="bedroom1"></a>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="media/images/house-rules-black.jpg" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="media/images/house-rules-black.jpg" alt="bedroom1"></a>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="media/images/fingerprint-3.png" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="media/images/fingerprint-3.png" alt="bedroom1"></a>
                  </div>           
               </div>
            </div>
         </div>
      </div>
      </section>
      <!--SECTION THREE-->
      <section class="parallaxthree">
 <div class="main-form">
 <div class="container-fluid">
      <div class="col-12">
         <h2>Get in touch!</h2>
         <h5>I'd love to hear from you...</h5>
         <div class="col-12">
            <form id="myform" onsubmit="return sendMail(this);" method="POST" style="padding:50px">
               <input type="text" class="form-control" name="from_name" placeholder="Name" required/>
               <input type="text" class="form-control" name="from_email" placeholder="Email Address" required/>
               <textarea rows="10" class="form-control" name="query" placeholder="Type your question here..." required></textarea>
               <div class="form-row text-center">
                  <div class="col-12"><button type="submit" class="btn btn-primary center-block">SEND</button></div>
               </div>
            </form>
         </div>
      </div>
   </div>
   </div>
</section>

</div>

{% endblock %}