<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<div class="gallery-container">


<!--FAMILY PRINTS-->
        <section>
            <div class="portfolio-images">
                <h3>Family Prints</h3>
                <div>
                    <div class="container">
                        <div class="row photos">
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/media/images/family-branch.png" data-lightbox="photos" data-title="Family Branch"><img class="img-fluid img-thumbnail" src="/media/images/family-branch.png" alt="dad1"></a>
                        
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/media/images/family-tree.png" data-lightbox="photos" data-title="Family Tree"><img class="img-fluid img-thumbnail" src="/media/images/family-tree.png" alt="dad2"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/media/images/little-herd-farm.png" data-lightbox="photos" data-title="Little Herd Farm"><img class="img-fluid img-thumbnail" src="/media/images/little-herd-farm.png" alt="dad3"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/media/images/little-herd-large.png" data-lightbox="photos" data-title="Little Herd Larger"><img class="img-fluid img-thumbnail" src="/media/images/little-herd-large.png" alt="godmother"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/media/images/little-herd.png" data-lightbox="photos" data-title="Little Herd"><img class="img-fluid img-thumbnail" src="/media/images/little-herd.png" alt="mother1"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/media/images/house-rules-black.png" data-lightbox="photos" data-title="House Rules Black"><img class="img-fluid img-thumbnail" src="/media/images/house-rules-black.png" alt="mother2"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/media/images/house-rules-grey.png" data-lightbox="photos" data-title="House Rules Grey"><img class="img-fluid img-thumbnail" src="/media/images/house-rules-grey.png" alt="mother3"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/media/images/house-rules-navy.png" data-lightbox="photos" data-title="House Rules Navy"><img class="img-fluid img-thumbnail" src="/media/images/house-rules-navy.png" alt="mother4"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



<!--MOTHERS DAY/FATHERS DAY-->
        <section>
            <div class="porfolio-images">
                <h3>Mothers Day/Fathers Day Prints</h3>
                <div>
                    <div class="container">
                        <div class="row photos">
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/media/images/dad-1.png" data-lightbox="photos" data-title="Dad 1"><img class="img-fluid img-thumbnail" src="/media/images/dad-1.png" alt="dad1"></a>
                        
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/media/images/dad-2.png" data-lightbox="photos" data-title="Dad 2"><img class="img-fluid img-thumbnail" src="/media/images/dad-2.png" alt="dad2"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/media/images/dad-3.png" data-lightbox="photos" data-title="Dad 3"><img class="img-fluid img-thumbnail" src="/media/images/dad-3.png" alt="dad3"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/media/images/godmother.png" data-lightbox="photos" data-title="Godmother"><img class="img-fluid img-thumbnail" src="/media/images/godmother.png" alt="godmother"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/media/images/mother-1.png" data-lightbox="photos" data-title="Mother 1"><img class="img-fluid img-thumbnail" src="/media/images/mother-1.png" alt="mother1"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/media/images/mother-2.png" data-lightbox="photos" data-title="Mother 2"><img class="img-fluid img-thumbnail" src="/media/images/mother-2.png" alt="mother2"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/media/images/mother-2.png" data-lightbox="photos" data-title="Mother 3"><img class="img-fluid img-thumbnail" src="/media/images/mother-3.png" alt="mother3"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/media/images/mother-4.png" data-lightbox="photos" data-title="Mother 4"><img class="img-fluid img-thumbnail" src="/media/images/mother-4.png" alt="mother4"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


<!--FINGERPRINT KITS-->
        <section>
            <div class="porfolio-images">
                <h3>Fingerprint Kits</h3>
                <div>
                    <div class="container">
                        <div class="row photos">
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/media/images/fingerprint-1.png" data-lightbox="photos" data-title="Fingerprint 1"><img class="img-fluid img-thumbnail" src="/media/images/fingerprint-1.png" alt="dad1"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/media/images/fingerprint-2.png" data-lightbox="photos" data-title="Fingerprint 2"><img class="img-fluid img-thumbnail" src="/media/images/fingerprint-2.png" alt="fingerprint2"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/media/images/fingerprint-3.png" data-lightbox="photos" data-title="Fingerprint 3"><img class="img-fluid img-thumbnail" src="/media/images/fingerprint-3.png" alt="fingerprint3"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/media/images/fingerprint-4.png" data-lightbox="photos" data-title="Fingerprint 4"><img class="img-fluid img-thumbnail" src="/media/images/fingerprint-4.png" alt="fingerprint4"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/media/images/fingerprint-5.png" data-lightbox="photos" data-title="Fingerprint 5"><img class="img-fluid img-thumbnail" src="/media/images/fingerprint-5.png" alt="fingerprint5"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/media/images/fingerprint-6.png" data-lightbox="photos" data-title="Fingerprint 6"><img class="img-fluid img-thumbnail" src="/media/images/fingerprint-6.png" alt="fingerprint6"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>        
</div>
{% endblock %}