<!DOCTYPE html>
<title>Products</title>
{% extends 'base.html' %}
{% block content %}
<div class="products-container">
  <ul class="breadcrumb">
      <li><a href="{% url 'baby' %}">Baby</a></li>
      <li><a href="{% url 'christening' %}">Christening</a></li>
      <li><a href="{% url 'engagement-anniversary' %}">Engagement/Anniversary</a></li>
      <li><a href="{% url 'family' %}">Family</a></li>
      <li><a href="{% url 'fingerprint' %}">Fingerprint Kits</a></li>
      <li><a href="{% url 'mothersdayfathersday' %}">Mothers Day/Father Day</a></li>
      <li><a href="{% url 'teacher' %}">Teacher</a></li>
      <li><a href="{% url 'wedding' %}">Wedding</a></li>
   </ul>
   <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
   <h3>All Products</h3>
   {% for product in products %}
   <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-3 display panel panel-default">
      <div class="panel-body">
         <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
         <h3 class="caption">{{ product.name }}</h3>
         <p class="product-description">{{ product.description }}</p>
         <p class="price"><i class="fa fa-eur" aria-hidden="true"></i>{{ product.price }}</p>
         <form method="post" action="{% url 'add_to_cart' product.id %}">
            {% csrf_token %}
            <div class="input-group">
               <input value="1" name="quantity" type="number" min="1" max="999" class="form-control"  placeholder="Quantity">
               <span class="input-group-btn">
               <button class="btn btn-success" type="submit">Add</button>
               </span>
            </div>
         </form>
      </div>
   </div>
   
   {% endfor %}

</div>
<script>
//SCROLL TO TOP BUTTON
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
{% endblock %}