<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<div class="container background-container">
   <!--SECTION ONE-->
 
   
   <!--Icons for middle section on home page-->
   <div class="jumbotron parallaxtwo">
      <div class="container">
         <div class="row">
          <p>About me</p>
         </div>
      </div>
   </div>
   <!--SECTION TWO-->
   <section>
      <div class="jumbotron parallaxthree">
         <h2>Social</h2>
       
    

<div class="container-fluid">Welcome to our page</div>
<div class="row row-flex">


    {% for product in products %}
  
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
            <div class="panel-body">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

                <h3>{{ product.name }}</h3>
                <p class="product-description">{{ product.description }}</p>
                <p>{{ product.price }}</p>

                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
 
    {% endfor %}


</div>
  </div>
   </section>
</div>
{% endblock %}